<!-- BEGIN: card -->
<div class="card">
    <section class="card_header">
        <div class="container">
            <h1 class="card_title">Плитка для пола Gayafores &mdash; Lumber</h1>
            <div class="pagination">
                <div class="pagination_item pagination_left">
                    <a href="#" class="pagination_link">К списку коллекций</a>
                </div>
                <div class="pagination_item pagination_right">
                    <a href="#" class="pagination_link">Gayafores — Tribeca</a>
                    <a href="#" class="pagination_link">Haritage Black</a>
                </div>
            </div>
        </div>
    </section>
    <section class="card_content">
        <div class="container">
            <div class="card_content_slider slider">
                <a href="#" class="card_out">К списку коллекций</a>
                <div class="slider-for">
                    <div class="slider_item">
                        <a class="card_fancybox" rel="gallery" href="assets/img/slider-1.png">
                            <img class="slider_img" src="assets/img/slider-1.png" alt="">
                        </a>
                    </div>
                    <div class="slider_item">
                        <a class="card_fancybox" rel="gallery" href="assets/img/slider-2.png">
                            <img class="slider_img" src="assets/img/slider-2.png" alt="">
                        </a>
                    </div>
                    <div class="slider_item">
                        <a class="card_fancybox fancybox-media" rel="gallery" href="https://www.youtube.com/watch?v=1-urF5no_Ng">
                            <img class="slider_img" src="assets/img/0.jpg" alt="">
                        </a>
                    </div>
                    <!-- <div class="slider_item">
                        <a class="card_fancybox" rel="gallery" href="assets/img/slider-2.png">
                            <img class="slider_img" src="assets/img/slider-2.png" alt="">
                        </a>
                    </div>
                    <div class="slider_item">
                        <a class="card_fancybox" rel="gallery" href="assets/img/slider-1.png">
                            <img class="slider_img" src="assets/img/slider-1.png" alt="">
                        </a>
                    </div>
                    <div class="slider_item">
                        <a class="card_fancybox" rel="gallery" href="assets/img/slider-2.png">
                            <img class="slider_img" src="assets/img/slider-2.png" alt="">
                        </a>
                    </div>
                    <div class="slider_item">
                        <a class="card_fancybox" rel="gallery" href="assets/img/slider-1.png">
                            <img class="slider_img" src="assets/img/slider-1.png" alt="">
                        </a>
                    </div>
                    <div class="slider_item">
                        <a class="card_fancybox" rel="gallery" href="assets/img/slider-2.png">
                            <img class="slider_img" src="assets/img/slider-2.png" alt="">
                        </a>
                    </div> -->
                </div>
                <div class="slider-wrap">
                    <div class="slider-prev-pseudo slick-arrow-pseudo"></div>
                    <div class="slider-nav">
                        <div class="slider_item slider_item-active">
                            <img class="slider_img" src="assets/img/slider-1.png" alt="">
                        </div>
                        <div class="slider_item">
                            <img class="slider_img" src="assets/img/slider-2.png" alt="">
                        </div>
                        <div class="slider_item fancybox-media fancybox-media-sm">
                            <img class="slider_img" src="assets/img/1.jpg" alt="">
                        </div>
                        <!--раскомментить-->
                        <!-- <div class="slider_item">
                            <img class="slider_img" src="assets/img/slider-2.png" alt="">
                        </div>
                        <div class="slider_item">
                            <img class="slider_img" src="assets/img/slider-1.png" alt="">
                        </div>
                        <div class="slider_item">
                            <img class="slider_img" src="assets/img/slider-2.png" alt="">
                        </div>
                        <div class="slider_item">
                            <img class="slider_img" src="assets/img/slider-1.png" alt="">
                        </div>
                        <div class="slider_item">
                            <img class="slider_img" src="assets/img/slider-2.png" alt="">
                        </div> -->
                    </div>
                    <div class="slider-next-pseudo slick-arrow-pseudo"></div>
                </div>
            </div>
            <div class="card_content_info">
                <div class="card_content_price">
                    <span class="text">Цена от
                        <span class="text_lg">80,98 руб./м
                            <sup>2</sup>
                        </span>
                    </span>
                </div>
                <div class="card_content_features">
                    <div class="card_content_feature">
                        <span class="feature">Страна</span>
                        <span class="dotted"></span>
                        <div class="text-wrap">
                            <span class="text">Испания<span>
                        </div>
                    </div>
                    <div class="card_content_feature">
                        <span class="feature">Производитель</span>
                        <span class="dotted"></span>
                        <div class="text-wrap">
                            <span class="text">Gayafores</span>
                        </div>
                    </div>
                    <div class="card_content_feature">
                        <span class="feature">Тип</span>
                        <span class="dotted"></span>
                        <div class="text-wrap">
                            <span class="text">Керамогранит</span>
                        </div>
                    </div>
                    <div class="IEfix">
                        <div class="card_content_feature">
                            <span class="feature">Примечания</span>
                            <span class="dotted"></span>
                            <div class="text-wrap">
                                <span class="text">Универсальная (для кухни для ванны и т.д.)</span>
                            </div>
                        </div>
                    </div>
                    <div class="card_content_feature">
                        <span class="feature">Назначение</span>
                        <span class="dotted"></span>
                        <div class="text-wrap">
                            <span class="text">Напольная, настенная</span>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="card_calculation" onclick="$('.mobile-calc-icon').click()">
                        Заказать расчет
                    </a>
                </div>
            </div>
            <div class="card_category category">
                <h4 class="category_title">Напольная</h4>
                <div class="row no-gutters">
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        @@include('category-item.html', {"img": "assets/img/var-1.png"})
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        @@include('category-item.html', {"img": "assets/img/var-2.png"})
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        @@include('category-item.html', {"img": "assets/img/var-1.png"})
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        @@include('category-item.html', {"img": "assets/img/var-2.png"})
                    </div>
                </div>
            </div>
            <div class="card_category category">
                <h4 class="category_title">Декор</h4>
                <div class="row no-gutters">
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        @@include('category-item.html', {"img": "assets/img/var-1.png"})
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        @@include('category-item.html', {"img": "assets/img/var-2.png"})
                    </div>
                </div>
            </div>
        </div>
        <div class="description">
            <div class="description_bg description_bg-left" style="background: url(assets/img/body-bg-left.png) center center repeat-y;"></div>
            <div class="description_bg description_bg-right" style="background: url(assets/img/body-bg-right.png) center center repeat-y;"></div>
            <div class="container">
                <div class="description_title">Описание коллекции</div>
                <div class="description_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi atque laudantium quidem tenetur consectetur
                    natus non nihil explicabo dolor, temporibus assumenda quia aliquam maiores at ullam, exercitationem cum
                    perferendis repellat harum totam dignissimos nesciunt. Amet eveniet magnam, laboriosam, rerum aliquam
                    accusamus consequatur tenetur nemo perferendis sit voluptatibus a obcaecati quaerat, repudiandae cumque
                    ipsa doloremque cum nostrum quidem velit expedita. At ad dolorum deleniti dolores, accusamus suscipit
                    temporibus in dolor, atque et odit nisi dolore eligendi voluptates aliquid obcaecati, ipsa tempora inventore
                    odio nihil. Animi beatae nostrum explicabo quisquam dicta tenetur debitis dolore modi, neque minima,
                    corporis amet autem, dolorum corrupti!</div>
                <a href="#" class="description_open">
                    <span class="text">Еще</span>
                    <img class="drop-arrow" src="assets/img/drop-arrow.png" alt="">
                </a>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="footer_title">Примеры дизайн-проектов</div>
            </div>
            <div class="footer_slider">
                <div id="footerSlider" class="slider">
                    <div class="slider_item">
                        <a href="#">
                            <div class="footer_label">
                                <div class="text">
                                    <span>Gayafores — Lumber</span>
                                    <img src="assets/img/right-arrow-white.png" alt="">
                                </div>
                            </div>
                            <img class="slider_img" src="assets/img/slider-1.png" alt="">
                        </a>
                    </div>
                    <div class="slider_item">
                        <a href="#">
                            <div class="footer_label">
                                <div class="text">
                                    <span>Gayafores</span>
                                    <img src="assets/img/right-arrow-white.png" alt="">
                                </div>
                            </div>
                            <img class="slider_img" src="assets/img/slider-2.png" alt="">
                        </a>
                    </div>
                    <div class="slider_item">
                        <a href="#">
                            <div class="footer_label">
                                <div class="text">
                                    <span>Lumber</span>
                                    <img src="assets/img/right-arrow-white.png" alt="">
                                </div>
                            </div>
                            <img class="slider_img" src="assets/img/slider-1.png" alt="">
                        </a>
                    </div>
                    <div class="slider_item">
                        <a href="#">
                            <div class="footer_label">
                                <div class="text">
                                    <span>Gayafores — Lumber</span>
                                    <img src="assets/img/right-arrow-white.png" alt="">
                                </div>
                            </div>
                            <img class="slider_img" src="assets/img/slider-2.png" alt="">
                        </a>
                    </div>
                    <div class="slider_item">
                        <a href="#">
                            <div class="footer_label">
                                <div class="text">
                                    <span>Gayafores</span>
                                    <img src="assets/img/right-arrow-white.png" alt="">
                                </div>
                            </div>
                            <img class="slider_img" src="assets/img/slider-1.png" alt="">
                        </a>
                    </div>
                    <div class="slider_item">
                        <a href="#">
                            <div class="footer_label">
                                <div class="text">
                                    <span>Lumber</span>
                                    <img src="assets/img/right-arrow-white.png" alt="">
                                </div>
                            </div>
                            <img class="slider_img" src="assets/img/slider-2.png" alt="">
                        </a>
                    </div>
                    <div class="slider_item">
                        <a href="#">
                            <div class="footer_label">
                                <div class="text">
                                    <span>Gayafores — Lumber</span>
                                    <img src="assets/img/right-arrow-white.png" alt="">
                                </div>
                            </div>
                            <img class="slider_img" src="assets/img/slider-1.png" alt="">
                        </a>
                    </div>
                    <div class="slider_item">
                        <a href="#">
                            <div class="footer_label">
                                <div class="text">
                                    <span>Gayafores</span>
                                    <img src="assets/img/right-arrow-white.png" alt="">
                                </div>
                            </div>
                            <img class="slider_img" src="assets/img/slider-2.png" alt="">
                        </a>
                    </div>
            
                </div>
            </div>
        </div>
    </section>
</div>
<!-- END: card -->