<div class="category_item">
    <div class="item">
        <a href="@@img" class="item_head card_fancybox" rel="gallery1" title="Haritage Black" style="background: #f2f2f2 url(@@img) center center no-repeat; background-size: contain;">
        </a>
        <div class="item_body">
            <div class="item_title">
                <span class="text">Настенный бордюр Steel 12 598x10 / 10mm</span>
                <img class="drop-arrow" src="assets/img/drop-arrow.png" alt="">
            </div>
            <div class="item_block">
                <div class="item_text">
                    <span class="item_option">Размер:</span>
                    <span class="item_value">3315×3315 mm</span>
                </div>
                <div class="item_text">
                    <span class="item_option">Цвет:</span>
                    <span class="item_value">арнамент</span>
                </div>
                <div class="item_text">
                    <span class="item_option">Поверхность:</span>
                    <span class="item_value">матовая</span>
                </div>
                <div class="item_text">
                    <span class="item_option">Применение:</span>
                    <span class="item_value">универсальное</span>
                </div>
                <div class="item_text">
                    <span class="item_option">Морозостойкость:</span>
                    <span class="item_value">да</span>
                </div>
            </div>
            <div class="item_price">80,98 руб./м<sup>2</sup>
            </div>
        </div>
    </div>
</div>