.item {
    background-color: #ffffff;
    padding: 0px 0px 20px;
    &_head {
        display: block;
        height: 161px;
        margin-bottom: 15px;
        border-bottom: none;
    }
    &_image {
        width: 100%;
        height: 100%;
    }
    &_body {
        font-size: 16px;
        padding: 0 20px;
    }
    &_text,
    &_title,
    &_price {
        line-height: 28px;
    }
    &_title {
        position: relative;
        display: inline-block;
        max-width: 100%;
        font-size: 0px;
        border: none;
        padding-right: 14px;
        &:hover {
            border: none;
        }
        .text {
            display: inline-block;
            max-width: 100%;
            font-size: 16px;
            vertical-align: middle;
            margin-right: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .drop-arrow {
            position: absolute;
            top: 10px;
            right: 0px;
            vertical-align: middle;
        }
    }
    &_option {
        color: $lightGrey;
    }
    &_price {
        color: $red;
    }
    &_block {
        display: none;
        overflow: hidden;
    }
    &:hover {
        position: absolute;
        top: -30px;
        left: -30px;
        right: -30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 30px;
        z-index: 10;
        .item_block {
            display: block;
        }
        .drop-arrow {
            transform: rotate(180deg);
        }
        .item_title .text {
            white-space: normal;
        }
    }
}