@import "vars";
/* BEGIN: media */

/*default site container*/

.container {
    max-width: 990px;
    margin: 0 auto;
    position: relative;
}

@media only screen and (max-width: 550px) {
    .container {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 40px;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        padding: 0 20px;
    }
}

/*end default site container*/

// 1200px
@media screen and (min-width: 1200px) {
    .card-wrapper .container {
        max-width: 1020px;
    }
}

@media screen and (max-width: 1199px) {}

// 992px
@media screen and (max-width: 1024px) {
    .card_content {
        .slider-for {
            .slider_item {
                height: 40vw;
            }
        }
        &_slider {
            width: 63%;
            margin-right: 15px;
        }
    }
    /*fancybox btn*/
    body #fancybox-buttons .btnNext,
    body #fancybox-buttons .btnPrev {
        top: 10px;
        margin-top: 0;
    }
    body #fancybox-buttons .btnNext {
        right: 0px;
    }
    body #fancybox-buttons .btnPrev {
        left: 0px;
    }
}

@media screen and (max-width: 991px) {
    .card_content {
        &_price {
            .text_lg {
                font-size: 28px;
            }
        }
    }
    .card .footer .slider_item {
        width: 70vmin;
        height: 50vmin;
    }
    .card .footer_slider .slick-arrow {
        width: 8vmin;
        height: 8vmin;
        min-width: 38px;
        min-height: 55px;
    }
    .card .footer_slider .slider-next {
        background-position: right 2vmin center;
    }
    .card .footer_slider .slider-prev {
        background-position: left 2vmin center;
    }
    .card .footer_label {
        width: 70vmin;
        height: 4vmin;
    }
}

// 768px
@media screen and (max-width: 768px) {
    .card_content {
        .slider-for {
            .slider_item {
                height: 50vw;
            }
        }
        &_slider {
            width: 100%;
            margin-right: 0px;
        }
        &_info {
            width: 100%;
            max-width: none;
        }
    }
    .card .category_item {
        margin-left: auto;
        margin-right: auto;
        border-bottom: none;
        padding: 0 10px;
    }
    .card .category .row {
        margin: 0px;
    }
    .card .item {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 30px;
        &_block {
            display: block;
        }
        &:hover {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            .drop-arrow {
                transform: none;
            }
        }
        &_title {
            .text {
                white-space: normal;
            }
        }
    }
    .card .category_title {
        text-align: center;
    }
    .card_content_feature .text-wrap {
        flex: 1 3 auto;
    }
}

@media screen and (max-width: 767px) {
    .card .category_item {
        padding: 0px;
    }
}

@media only screen and (max-width: 750px) {
    body #fancybox-buttons .btnNext {
        background: url(../img/next.png) 0 0 no-repeat !important;
        width: 90px !important;
        height: 61px !important;
        top: 10px !important;
        right: 0px !important;
    }
    body #fancybox-buttons .btnPrev {
        background: url(../img/prev.png) 0 0 no-repeat !important;
        width: 90px !important;
        height: 61px !important;
        top: 10px !important;
        left: 0px !important;
    }
}

// 576px
@media screen and (max-width: 575px) {
    .card .description_bg {
        display: none;
    }
    .card {
        .description_title,
        .footer_title {
            font-size: 30px;
        }
    }
}

// 480px
@media screen and (max-width: 480px) {
    .card .item {
        padding: 15px;
        &:hover {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            padding: 15px;
        }
    }
    .card .item_body {
        padding: 0;
    }
}

@media screen and (min-width: 480px) {
    .card_content .slider-nav {
        .slider_item {
            min-width: 100px;
        }
        .slick-track {
            width: auto !important;
        }
    }
}

/* END: media */