@import "vars";
/* BEGIN: card */

/*fancybox custom*/

body #fancybox-buttons .btnClose {
    position: fixed;
    top: 10px;
}

body #fancybox-buttons .btnNext {
    right: 20px;
}

.fancybox-lock .fancybox-overlay {
    overflow-y: auto !important;
}

.card-wrapper {
    .pattern_bg {
        display: none; //????????
    }
    #sb-site:before,
    #sb-site:after {
        display: none;
    }
    .container {
        z-index: auto;
    }
}

.card {
    &_header {
        border-bottom: 1px solid $border;
    }
    &_title {
        text-align: center;
    }
    .pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 18px;
        margin-bottom: 20px;
        &_item {
            flex: 1 1 auto;
        }
        &_link {
            display: inline-block;
            font-size: 16px;
            line-height: 18px;
            border-bottom: none;
        }
        &_right {
            font-size: 0px;
            text-align: right;
            .pagination_link {
                position: relative;
                vertical-align: middle;
                padding: 0px 20px;
                &::before {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 10px;
                    height: 18px;
                    left: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-image: url(../img/left-arrow.png);
                }
            }
            .pagination_link:not(:nth-last-of-type(1)) {
                border-right: 1px solid #2f2f37;
            }
            .pagination_link:nth-of-type(1) {
                &:hover::before {
                    width: 17px;
                    background-image: url(../img/left-arrow-h.png);
                }
            }
            .pagination_link:nth-last-of-type(1) {
                &::before {
                    top: 50%;
                    left: auto;
                    right: 0px;
                    background-image: url(../img/right-arrow.png);
                }
                &:hover::before {
                    width: 17px;
                    background-image: url(../img/right-arrow-h.png);
                }
            }
        }
    }
    &_content {
        font-size: 0px;
        padding: 29px 0px 0px;
        margin-bottom: 1px;
        .slider_img {
            width: 100%;
            height: 100%;
        }
        .slider-for {
            .slider_item {
                height: 430px;
            }
        }
        .slider-nav {
            width: calc(100% - 36*2px - 2px);
            margin-top: 1px;
            margin-left: auto;
            margin-right: auto;
            .slider_item {
                width: 100px;
                height: 68px;
                margin-right: 1px;
                cursor: pointer;
                opacity: 1;
                transition: opacity 0.3s;
                &:hover {
                    opacity: 0.5;
                }
            }
            .slick-arrow {
                position: absolute;
                top: 0px;
                width: 36px;
                height: 68px;
                background-color: #d5d5d7;
                background-position: center center;
                background-repeat: no-repeat;
                cursor: pointer;
                z-index: 10;
            }
            .slider-prev {
                left: -37px;
                background-image: url(../img/left-arrow.png);
                &:hover {
                    background-image: url(../img/left-arrow-h.png);
                    background-size: 10px 18px;
                }
            }
            .slider-next {
                right: -37px;
                background-image: url(../img/right-arrow.png);
                &:hover {
                    background-image: url(../img/right-arrow-h.png);
                    background-size: 10px 18px;
                }
            } // .slick-list {
            //     margin-left: 37px;
            // }
            .slider_item-active {
                .slider_img {
                    border: 2px solid $red;
                }
            }
        }
        &_slider {
            display: inline-block;
            vertical-align: top;
            width: 66%;
            margin-right: 30px;
            margin-bottom: 30px;
        }
        &_info {
            display: inline-block;
            vertical-align: top;
            width: 34%;
            max-width: 274px;
            margin-bottom: 30px;
        }
        &_price {
            color: #ee3b3b;
            font-size: 14px;
            margin-bottom: 25px;
            .text_lg {
                font-size: 30px;
                sup {
                    font-size: 58%;
                }
            }
        }
        &_feature {
            display: flex;
            flex: 1 1 auto;
            align-items: baseline;
            margin-bottom: 20px;
            .feature {
                color: $lightGrey;
                font-size: 14px;
            }
            .dotted {
                display: block;
                flex: 1 1 100%;
                border-bottom: 1px dotted $lightGrey;
            }
            .text-wrap {
                flex: 1 1 auto; // display: -ms-grid;
                // -ms-grid-columns: min-content;
            }
            .text {
                // max-width: 140px;
                display: block; // width: min-content;
                font-size: 16px;
                text-align: right;
                overflow: hidden;
            }
        }
    }
    &_calculation {
        display: block;
        max-width: 274px;
        font-size: 16px;
        color: #ffffff;
        text-align: center;
        background-color: #ee3b3b;
        border: none;
        padding: 12px;
        margin: 0 auto;
        &:hover {
            color: #ffffff;
            border: none;
            background-color: #bf001b;
        }
    }
}

.IEfix {
    display: flex;
}

/* BEGIN: category */

.card {
    .category {
        &_title {
            font-size: 24px;
            font-weight: 300;
            margin: 0px 0px 25px;
        }
        &_item {
            position: relative;
            max-width: 386px;
            min-height: 257px;
            border-bottom: 1px solid $border;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 35px;
        }
        .row {
            margin: 0 -5px;
        }
    }
}

/* BEGIN: category-item */

.card {
    @import "item";
}

/* END: category-item */

/* END: category */

/* BEGIN: desc */

.card {
    .description {
        position: relative;
        text-align: center;
        background-color: #e6e5e6;
        padding: 45px 0 35px;
        &_bg {
            position: absolute;
            top: 0px;
            width: 220px;
            height: 100%;
            &-left {
                left: 0px;
            }
            &-right {
                right: 0px;
            }
        }
        &_title {
            font-size: 36px;
            font-weight: 300;
            text-align: center;
            margin-bottom: 30px;
            line-height: 1;
        }
        &_text {
            max-width: 705px;
            max-height: 140px;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            overflow: hidden;
            &-shown {
                max-height: none;
            }
        }
        &_open {
            display: inline-block;
            font-size: 16px;
            border-bottom: none;
            .text {
                margin-right: 5px;
            }
        }
    }
}

/* END: desc */

/* BEGIN: footer */

.card {
    .footer {
        padding-top: 45px;
        &_title {
            font-size: 36px;
            font-weight: 300;
            text-align: center;
            line-height: 1;
            margin-bottom: 30px;
        }
        &_slider {
            position: relative;
            .slick-arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 80px;
                height: 80px;
                background: rgba(#2f2e37, 0.2) no-repeat;
                cursor: pointer;
                z-index: 10;
                transition: all 0.3s;
                padding: 2px;
                &:hover {
                    background-color: rgba(#2f2e37, 0.5);
                }
            }
            .slider-prev {
                left: 0px;
                background-image: url(../img/white-arrows.png);
                background-position: left 25px center;
            }
            .slider-next {
                right: 0px;
                background-image: url(../img/white-arrows.png);
                background-position: right 25px center;
            }
        }
        .slider {
            &_item {
                width: 780px;
                height: 580px;
                margin: 0 0.5px;
                &:not(.slick-center) {
                    .footer_label {
                        opacity: 0;
                        left: 50%;
                    }
                }
            }
        }
        &_label {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 780px;
            min-height: 30px;
            z-index: 10;
            opacity: 1;
            transition: 0.5s ease-in-out;
            .text {
                display: inline-block;
                color: #fff;
                font-size: 16px;
                font-weight: 300;
                line-height: 1;
                background-color: #2f2e37;
                padding: 2% 2.7% 2% 2.7%;
                span {
                    margin-right: 10px;
                }
            }
            img {
                display: inline;
                vertical-align: middle;
            }
        }
    }
}

/* END: footer */

/* BEGIN: edit 18-07-2018 */

.card_content_slider {
    position: relative;
}

.card_out {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    line-height: 40px;
    padding: 0 17px 0 34px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    z-index: 14;
    background: #2f2f37 url(../img/back.png) 18px center no-repeat;
    transition: background 0.3s ease;
    border-bottom: none;
    &:hover {
        color: #fff;
        background: #2f2f37 url(../img/back.png) 14px center no-repeat;
        border-bottom: none;
    }
}

.card .footer_slider .slider_item {
    a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        border-bottom: none;
        &:hover {
            border-bottom: none;
        }
    }
}

.card .footer_slider .slider_item:not(.slick-center) {
    a {
        cursor: default;
    }
}

.slider-wrap {
    display: flex;
}

.card_content .slider-nav {
    width: auto;
    max-width: calc(100% - 36*2px - 2px);
    margin-top: 1px;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
    .slider_item {
        // min-width: 100px;
    }
    .slick-track {
        display: flex; // width: auto !important;
    }
    .slick-list {
        display: block;
        width: auto !important;
    }
}

.slick-arrow-pseudo {
    display: block !important;
    position: relative;
    top: 0px;
    width: 36px;
    height: 68px;
    background-color: #d5d5d7;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 1px;
    cursor: pointer;
    z-index: 10;
}

.slider-prev-pseudo {
    // left: -37px;
    background-image: url(../img/left-arrow.png);
    margin-right: 1px;
    &:hover {
        background-image: url(../img/left-arrow-h.png);
        background-size: 10px 18px;
    }
}

.slider-next-pseudo {
    // right: -37px;
    background-image: url(../img/right-arrow.png);
    &:hover {
        background-image: url(../img/right-arrow-h.png);
        background-size: 10px 18px;
    }
}

.slick-list-visible {
    overflow: visible !important;
}

/* END: edit 18-07-2018 */

.fancybox-media {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        background: url(../img/play.png) 0 0 no-repeat;
        background-size: contain;
        cursor: pointer;
        z-index: 5;
    }
    &-sm {
        &::before {
            width: 30px;
            height: 30px;
        }
    }
}
/* BEGIN: 07-08-18 */
#sb-site.pattern:before,
#sb-site.pattern:after {
    display: none;
}
/* END: 07-08-18 */
/* END: card */